body {
    padding: 0px;
    margin: 0px;
    color: #fff;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

a:hover {
    color: rgb(178, 178, 178);
    text-decoration: underline;
}

.bg {
    position: fixed;
    background-image: url("../Assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: blur(8px);
    transform: scale(1.1);
}

.card {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 200px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(58, 48, 68, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(145, 70, 255, 0.2);
    margin: 10px 0px 10px 0px;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdp {
    position: relative;
}

.pdpimg {
    width: 128px;
    height: 128px;
    border-radius: 64px;
}

.status {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    bottom: -15px;
    right: 15px;
    transform: translate(50%, -50%);
    border: 2px solid rgba(59, 59, 59, 0.3);
}

.pfpstatus {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 64px;
    margin: 36px;
}

.username {
    color: #fff;
    font-size: 2em; 
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
}

.cstatus {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 16px;
}

.title {
    color: #fff;
    font-size: 2.4em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 0px;
}

.about {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-left: 32px;
}

.aboute {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 8px;
    margin-left: 32px;
}

.mini {
    position: absolute;
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 0px; 
}

.spot {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 36px;
}

.albumart {
    width: 128px;
    height: 128px;
}

.songtitle {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.songartist {
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 0px;
}

progress {
    width: 100%;
    margin-top: 8px;
    margin-left: 8px;
}

.songinfo {
    width: 100%;
}

.time {
    display: flex;
    flex-direction: row;
}

.songtime {
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.songtime2 {
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 8px;
    right: 0px;
    margin-bottom: 0px;
    position: absolute;
}